body {
  margin: 0;
  background: #181a1b;
  overflow-x: hidden;
  padding-top: 48px;
}

* {
  cursor: none;
}

.cursor {
  stroke: white;
}

.box-container {
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 90%;
}

.container {
  display: flex;
  justify-content: center;
}

.image_box {
  display: block;
  min-height: 120px;
  border-radius: 4px;
  margin: 16px 8px;

  width: 25vw;
}
